<nav class="navbar">
    <div class="left-section">
        <div class="logo" routerLink="/">Y-Tech 💻⚡</div>
        <ul class="nav-links">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/">Home</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/products">Products</a>
            </li>
            <li routerLinkActive="active">
                <a (click)="goToCart()">Cart</a>
            </li>
            <ng-container *ngIf="isLoggedIn()">
                <li routerLinkActive="active">
                    <a routerLink="/orders">Orders</a>
                </li>
            </ng-container>
            <ng-container *ngIf="isLoggedIn() && isAdmin()">
                <li routerLinkActive="active">
                    <a routerLink="/admin/manage-products">Add Product</a>
                </li>
            </ng-container>

        </ul>
    </div>

    <ul class="nav-links right-section">
        <ng-container *ngIf="isLoggedIn(); else guestLinks">
            <li><button (click)="logout()">Logout</button></li>
        </ng-container>

        <ng-template #guestLinks>
            <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
        </ng-template>
    </ul>
</nav>