.manage-container {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #007bff;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}
form.form-inline {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
form.form-inline button {
    padding: 8px 16px;
    background-color: #c82333;
    border-radius: 6px;
}

